@page "/Login"

@using Shared.Model
@using duanxetnghiem.Data
@using Shared.form
@inject NavigationManager navigation;
<PageTitle>Log in</PageTitle>

<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <p>@errorMessage</p>
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2>Use a local account to log in.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private string errorMessage="";

    [SupplyParameterFromForm]
    private loginform Input { get; set; } = new();
    private async Task LoginUser()
    {
        if (!IsValidEmail(Input.Email))
        {
            errorMessage = "Email sai định dạng";
            return;
        }
        if (string.IsNullOrEmpty(Input.Email) ||
        string.IsNullOrEmpty(Input.Password))
        {
            errorMessage = "Vui lòng nhập đầy đủ thông tin";
        }
        else
        {
            acc user =await Accservice.Login(Input);
            if (user!=null)
            {
                navigation.NavigateTo("/");
            }
            else
            {
                errorMessage = "Sai thông tin đăng nhập";
            }
        }
    }
    private bool IsValidEmail(string email)
    {
        try
        {

            var addr = new System.Net.Mail.MailAddress(email);

            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }
}
