@page "/haha"
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

<p>@name</p>

<button @onclick="InitializeComponent">Initialize Component</button>

@code {
    String name = "";

    protected override void OnInitialized()
    {
        sessionStorage.SetItem("name", "John Smith");
        name = sessionStorage.GetItem<string>("name");
    }

    private void InitializeComponent()
    {
        OnInitializedAsync(); // Gọi hàm khi nhấn nút
    }
}
